@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Jeo's Pizza</h2>
    <p>View all Pizza <a asp-action="pizzaSelection">Pizzaaaa </a>.</p>
</div>
